.tabulator {
    font-size: 0.81rem; 
}

.tabulator-cell > button {
    font-size: 0.81rem;
    font-weight: bold;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0.3rem 0.8rem;
    color: #ffffff;
    border-radius: 0.5rem ;
    border: rgb(255, 255, 255) 3px double;
}

.tabulator-cell > .blueButton {
    background-color: #00a0c7;
}

.tabulator-cell > .blueButton:hover {
    background-color: #ffffff;
    color: #00a0c7;
    border: #00a0c7 3px double;
}

.tabulator-cell > .orengeButton {
    background-color: #ffa600;
}

.tabulator-cell > .orengeButton:hover {
    background-color: #ffffff;
    color: #ffa600;
    border: #ffa600 3px double;

}
